.DS_Store
UIUTestExample/UIUTestExample.xcodeproj/project.xcworkspace/xcuserdata/*
UIUTestExample/UIUTestExample.xcodeproj/xcuserdata/*
UIUTestBDDExample/Pods/Pods.xcodeproj/xcuserdata/Nick.xcuserdatad/*
UIUTestBDDExample/UIUTestExample.xcworkspace/xcuserdata/Nick.xcuserdatad/*
UIUTestCocoaPodsExample/Pods/Pods.xcodeproj/xcuserdata/Nick.xcuserdatad/*
UIUTestCocoaPodsExample/UIUTestExample.xcodeproj/project.xcworkspace/xcuserdata/*
UIUTestCocoaPodsExample/UIUTestExample.xcworkspace/xcuserdata/*
Presentation/*

