.DS_Store
/.build
/Packages
/*.xcodeproj
/.swiftpm/xcode/package.xcworkspace/xcuserdata/*
/.swiftpm/xcode/xcuserdata/*
/UIUTest_Examples
UIUTest/UIUTest.xcodeproj/project.xcworkspace/xcuserdata/*
UIUTestExample/UIUTestExample.xcodeproj/project.xcworkspace/xcuserdata/*
UIUTestExample/UIUTestExample.xcodeproj/xcuserdata/*
